<div class="content">
    <h1>Bienvenue sur Vapeur</h1>
    <p>Gérer vos jeux grace à Vapeur ! </p>

    <h1>Jeux à la une</h1>
    <ul class="list">
        {{#each game}}
            <li class="item">
                <a href="/games/{{id}}" class="link">{{title}}</a> 
                {{#if this.highlight}}
                    <form action="/games/{{id}}/unhighlight" method="post">
                        <button class="highlight">★</button>
                    </form>
                {{else}}
                    <form action="/games/{{id}}/highlight" method="post">
                        <button>☆</button>
                    </form>
                {{/if}}
            </li>
        {{/each }}
    </ul>

    <h1>Jeux préféré</h1>
    <ul>
        {{#each gamesHighlight}}
            <li class="item">
                <a href="/games/{{this.id}}" class="link">{{this.title}}</a> 
                <form action="/games/{{this.id}}/unhighlight" method="POST">
                    <button class="highlight">★</button>
                </form>
            </li>
        {{/each}}
    </ul>
</div>