<h1>Liste des éditeurs</h1>

<ul>
    {{#each editors}}
        <li id="{{id}}">
            <a href="/editors/{{id}}">{{name}}</a> 
            <button class="delete-button" data-id="{{id}}">Supprimer</button>
            <button class="modify-button" data-id="{{id}}">modifier</button>
        </li>
    {{/each}}
</ul>
