<h1>Nom du jeux : {{game.title}}</h1>

<p><strong>Description:</strong> {{game.description}}</p>
<p><strong>Release Date:</strong> {{game.ReleaseDate}}</p>
<p><a href="/genre/:id"> <strong>Genre:</strong> {{game.Genre}}</a></p>
<p><a href="/editor/:id"><strong>Editor:</strong> {{game.Editor}}</a></p>

<a href="/">Revenir au menu principal</a>