<h1>Nom du jeux : {{game.title}}</h1>

<p><strong>Description:</strong> {{game.description}}</p>
<p><strong>Release Date:</strong> {{game.ReleaseDate}}</p>
<p><strong>Genre:</strong><a href="/genre/{{game.Genres.id}}">  {{game.Genres.name}}</a></p>
<p><strong>Editor:</strong><a href="/editor/{{game.Editors.id}}"> {{game.Editors.name}}</a></p>

<a href="/">Revenir au menu principal</a>